/* Reset, header, and footer styles are in the standard.css file */

/* Main Code start */

.row > * {
    padding-left: 0;
    padding-right: 0;
}

/* delete start */

/* .row {
    border: 1px solid red;
} */

/* .col-2, .col-3, .col-9, .col-12 {
    border: 1px solid blue;
} */
/* delete end */

#video {
    margin-top: 50px;
    margin-bottom: 50px;
    #video-text{
        div{
            padding: 25px 30px;
        }
        #video-text-top {
            height: 100%;   
            font-size: 35px;
            font-weight: bold;
            color: var(--color-green);
            margin-bottom: 20px;
        }
        #video-text-bottom{
            font-size: 25px;
            color: var(--color-green);
        }
    }
    #video-content iframe{
        width: 95%;
    } 
}

#digital-wallet {
    padding: 20px 0;
    background: var(--bg-light-gradient);
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    /* div{
        border:1px solid blue;
    } */
    #digital-wallet-instructions{
        p{
            color: var(--color-green);
            font-size: 20px;
            padding: 10px 0;
        }
    }
    #digital-wallet-button{
        height:30px;
        button {
            background: #386641;
            color: #F2E8CF;
            border: none;
            padding: 5px 30px;
            font-weight: bold;
        }
    }
}

#donation-frequnecy {
    .frequency-button{
        border: 1px solid #386641;
        color: var(--color-green);
        border-radius: 10px;
        font-weight: bold;
        font-size: 30px;
        height: 50px;
        margin: 50px 5px;
        padding-top: 7px;
    }
    .frequency-button:hover{
        background: var(--color-green);
        color: white;
        cursor: pointer;
    }

}

#donation{
    /* .col-4, .col-6{
        border: 1px solid black;
    } */
    .donation-amount-option{
        border: 1px solid #386641;
        color: var(--color-green);
        font-weight: bold;
        font-size: 50px;
        height: 150px;
        padding-top: 50px;
        margin-bottom: 25px;
    }
    .donation-amount-option:hover{
        background: var(--color-green);
        color: white;
        cursor: pointer;
    }

    #donation-amount-custom{
        border: 1px solid #386641;
        color: var(--color-green);
        font-weight: bold;
        font-size: 40px;
        height: 75px;
        padding-top: 5px;
        margin-bottom: 25px;
        text-align:center;
    }


    #next{
        #next-button{
            border: none;
            background: #386641;
            color: white;
            font-size: 50px;
            font-weight: bold;
            height: 75px;
            width: 100%;
        }
        #next-button:hover{
            opacity: 0.8;
        }
    }
}

#blankRow{
    height: 100px;
}






/* Main Code end */
