/* Reset, header, and footer styles are in the standard.css file */

/* start of slide show */


.glide__slide>img{
    width: 100%;
    height: 60vh;
} 

.banner_text{
    width: 100%;
    height: 80px;
    background: #828D70;
    color: #FFFFFF;
}

.banner_text p{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
}
/* End of slide show */

/* Start of Social Media Section */
.social_media{
    box-sizing: border-box;
    position: fixed;
    right: 0;
    top:30vh;
    z-index: 1;
}

.social_media ul{
    padding: 10px 5px;
}

.social_media li{
    padding: 5px;
    margin: 0 20px;
}

.social_media a{
    height: 30px;
    width: 30px;
    display: block;
    background: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    color: green;
}
/* End of Social Media Section */

/* start of Current Initiative Section */

.initiative{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.initiative_text{
    width: 80%; 
    height: 40px;
    text-align: center; 
    margin: 0 auto;
    padding: 15px;
}

.initiative_text h2{
    font-weight: bold;
    color: var(--color-green);
}

.initiative_text p{
    margin: 10px 0;
    color: var(--color-green);
}

.initiative_items{
    width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.initiative_items .items{
    /* width: 30%; */
    margin: 10px 20px;
} 

.items *{
    margin: 10px 0;
}

.items img{
    border-radius: 10px;
}
.items a{
    display: inline-block;
    text-decoration: none;
    background-color: #F2E8CF;
    border: solid 2px var(--color-green);
    border-radius: 5px;
    padding: 6px;
    width: 120px;
    color: var(--color-green);
    margin: 10px 0;
}
.initiative_header h3{
    font-weight: bold;

}

.items a:hover{
    background-color: var(--color-green);
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 6px;
    width: 120px;
}
.initiative_p p{
    margin: 0 1rem;
}

/* End of currect initiative section */

/* Start of donate video section */
.content-before-footer {
    width: 100%;
    position: relative;
    background-color: #f9f9f9; /* Background color for the section */
    margin-top: auto; /* Push this section to the bottom */
}

.video-container {
    position: relative;
    width: 100%;
    height: 60vh; /* Set the height of the video container to 60% of the viewport height */
    overflow: hidden;
}

.video-element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video covers the entire container */
}

.overlay {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.overlay p {
    margin: 0;
    font-size: 18px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px;
    border-radius: 5px;
}

.video-link {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 40px;
    background-color: #F2E8CF;
    border: 2px solid var(--color-green);
    color: var(--color-green);
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
}

.video-link:hover {
    background-color: var(--color-green);
    color: #F2E8CF;
}

/* End of donate video section */

/* Start of founder section */
    .founder{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .founder_image img{
        width: 50%;
        margin: 20px;
    }

    .founder_text{
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: var(--color-green);
        width: 50%;
        padding: 50px;
        height:25%;
        margin: 20px;
        color: #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 0px 4px rgba(139, 169, 30, 0.2);
        border-top-left-radius: 90px;
        border-bottom-right-radius: 90px;
    }

    .founder_text p{
        position: relative;
        top: 30%;
        margin: 10px; 
       
    }

    .founder:hover{
        display: flex;
        flex-direction: column;
    }
/* End of founder section */


/* Start of Media Query for slideshow */
@media (max-width: 768px) {
.glide__slide>img{
    width: 100%;
    height: 30vh;
} 
}

/* Media Query for donate video */

@media (max-width: 768px) {

    .banner_text{
        box-sizing: border-box;
        height: auto;
        padding: 15px;
    }
    .banner_text p{
        font-size: 15px;
        width: 100%;
     
        
        
    }
}


@media (max-width: 768px) {
    .overlay p {
        font-size: 14px;
    }

    .video-link {
        padding: 6px 12px;
        margin-bottom: 90px;
    }

    .video-container {
        height: 40vh; /* Adjust height for smaller screens */
    }
}


/* Media query for current initiative section */
@media (max-width: 768px) {

    .initiative_text{
        height: auto;
        font-size: 15PX;
    }

    .initiative_items{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .items{
     
        box-sizing: border-box;
        height: auto;
        padding: 5px;  
    }
    .initiative_img{
        width: 100%;
    
        }

}

/* End of media query for current initiTIVE SECTION */

/* Media query for founder section */
@media (max-width: 768px) {

    .founder{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 5px;
      
    }
    .founder_image {
        width: 50%;
        margin: 0;
        
    }

    .founder_text {
        padding: 0;
        font-size: 15px;
        width: 90%;
        box-shadow: none;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .founder_image img{
        width: 150px;
    }

}
