/* Reset, header, and footer styles are in the standard.css file */


/* Main code start */
#programs__title{
    width: 100vw;
    height: 70vh;
    background: url(../../static/programs_students.jpg);
    background-position: left 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    border-bottom: 2px solid var(--color-green);
}
#programs__title h1{
    padding: 0.75rem 1.5rem;
    color: var(--color-green);
    font-weight: 700;
    font-size: 3.5rem;
    background-color: rgba(240, 248, 255, 0.796);
    border-top: 2px solid var(--color-green);
    border-right: 2px solid var(--color-green);
    border-left: 2px solid var(--color-green);
}
#programs__menu nav{
    height: calc(100vh - (70vh + 80px));
    display: grid;
    grid-template-columns: 15% 70% 15%;

    ul{
        grid-column: 2/3;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.programs__menu-item{
    border-bottom: 1px solid var(--color-green);
    font-size: 1.5rem;
    transition: 0.5s ease-in;

    a{
        font-weight: 500;
        color: var(--color-green);
        text-decoration: none;
        transition: 0.5s ease-in;
    }
}
.programs__menu-item:hover{
    border-bottom: 2px solid var(--color-brown);
    transform: scale(1.03);

    a{
        color: var(--color-brown)
    }
}

/* Standad Programs Code Start */
.program__container{
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: min-content min-content auto;
    row-gap: 15px;
}
.subtitle{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-green);
}
.subParagraph{
    text-align: center;
    color: var(--color-green);
    padding: 0.5rem 15%;
    margin-bottom: 2rem;
}
main p{
    font-size: 1.2rem;
    line-height: 1.5;
}
/* Standad Programs Code End */


/* Educational Programs Code Start */
#education{
    grid-template-areas: 
        ". education__title ."
        ". education__paragraph ."
        ". education__school .";
}
#education>h2{
    grid-area: education__title;
    justify-self: center;
}
#education>p{
    grid-area: education__paragraph;
}
#education__school{
    grid-area: education__school;
    padding-bottom: 1rem;
}
#education__school-title{
    width: 100%;
    height: 25rem;
    background: url(../../static/programs_zabuliCenter.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    box-shadow: rgba(130, 100, 47, 0.819) 0px 25px 20px -20px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    border-bottom: 2px solid var(--color-brown);
    border-radius: 20px;
    margin-bottom: 2rem;
    transition: 1s;
}
#education__school-title h3{
    padding: 0.75rem 2rem;
    color: var(--color-brown);
    font-weight: 700;
    font-size: 1.75rem;
    background-color: rgba(240, 248, 255, 0.796);
    border-top: 2px solid var(--color-brown);
    border-right: 2px solid var(--color-brown);
    border-left: 2px solid var(--color-brown);
}
#education__school-paragraph{
    padding: 2rem 10%;
    text-align: center;
    color: var(--color-brown);
    border-bottom: 3px solid var(--color-green);
    transition: 1s ease-in;

    p{
        margin-bottom: 15px;
    }
}

/* Educational Programs Code End */

/* Community Support Programs Code Start */
#community{
    padding-top: 3rem;
    grid-template-areas: 
        ". community__title ."
        ". community__paragraph ."
        ". community__programs .";
}
#community>h2{
    grid-area: community__title;
    justify-self: center;
}
#community>p{
    grid-area: community__paragraph;
}
#community__programs{
    grid-area: community__programs;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    grid-template-areas: 
        'community-nav community-info';
    margin: 1rem 5%;
}
#community__programs-Nav{
    grid-area: community-nav;
    align-self: center;
    justify-self: center;
}
/* .programs-Nav-ul{
    list-style:disc outside;
} */
.programs-Nav-li{
    margin-bottom: 1.5rem;
    font-weight: 500;
    transition: all .5s ease;
}
.programs-Nav-li a{
    color: var(--color-green);
    text-decoration: none;
}
.programs-Nav-li:hover{
    font-weight: 700;
    border-bottom: 1px solid var(--color-green);
    cursor: pointer;
    transform: scale(1.01);
}

#community__programs-info-div{
    grid-area: community-info;
    height: 25rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid var(--color-green);
    border-radius: 20px;
}
.community-img{
    width: 100%;
    height:inherit;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
}
.community-info{
    padding: 10%;
    color: var(--color-brown);
    text-align: center;
    overflow:scroll;
}
.community-info-title{
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--color-brown);
}
.community-info-paragraph{
    font-size: 1rem;
}
/* Community Support Programs Code End */

@media only screen and (max-width: 1024px){
    #programs__title{
        height: 50vh;
    }
    #programs__title h1{
        font-size: 3rem;
    }
    #programs__menu nav{
        height: fit-content;
        margin: 5rem 0;
    }
    .programs__menu-item{
        font-size: 1.4rem;
    }
    /* Educational Programs Code Start */
    #education>p{
        padding: 0.5rem 5%;
    }

}

@media only screen and (max-width: 768px){
    #programs__title{
        height: 40vh;
    }
    #programs__title h1{
        font-size: 2.5rem;
    }
    #programs__menu nav{
        grid-template-columns: 5% 90% 5%;
    }
    .programs__menu-item{
        font-size: 1.3rem;
    }
    /* Educational Programs Code Start */
    .subtitle{
        font-size: 1.7rem;
    }
    .program__container{
        grid-template-columns: 5% 90% 5%;
    }
    main p{
        font-size: 1.2rem;
    }
    #education__school-title{
        height: 20rem;
    }
    #education__school-title h3{
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem;
    }
    #education__school-paragraph{
        padding: 1.5rem 0;
    }
}

@media only screen and (max-width: 576px){
    #programs__title{
        height: 30vh;
    }
    #programs__title h1{
        font-size: 2rem;
    }
    #programs__menu nav{
        grid-template-columns: 10% 80% 10%;
        margin: 3rem 0;

        ul{
            flex-direction: column;
            align-items: start;
            gap: 20px;
            list-style: disc;
        }
    }
    .programs__menu-item{
        font-size: 1.25rem;
        color: var(--color-green);
    
        a{
            font-weight: 500;
            color: var(--color-green);
            transition: 0.5s ease-in;
        }
    }

    /* Educational Programs Code Start */
    .subtitle{
        font-size: 1.5rem;
    }
    #main p{
        font-size: 1.1rem;
    }
    #education__school-title h3{
        font-size: 1.4rem;
        padding: 0.75rem 1rem;
    }

}