/* Standard Nav and Footer Code Start*/


/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    /* min-width: 675px; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    scroll-padding-top: 100px;
}

/* Variables */
:root{
    --bg-light-gradient: linear-gradient(0deg, rgba(254,254,253,1) 0%, rgba(242,232,207,1) 100%);
    --color-green: #386641;
    --color-brown: #7F4F24;
}

/* Header */
.nav{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background: var(--bg-light-gradient);
    position: fixed;
}

.nav #nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#nav-menu li a{
    padding: 0 0.7rem;
    text-decoration: none;
    color: var(--color-green);
    font-weight: 600;
    font-size: 1.05rem;
}
#nav-menu li{
    transition: 1s ease;
    margin: 0 20px;
    
}

#nav-menu li:hover{
    border-bottom: 2px solid var(--color-green);
    padding: 0 5px;
    padding-bottom: 2px;
    font-size: 1.08rem;
    transform: scale(1.03);
}

/* Footer */
footer{
    padding: 1rem 5rem;
    color: var(--color-green);
    background: var(--bg-light-gradient);
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.contact{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
}

#subscription-text {
    display: inline-block;
    margin-bottom: 10px;
}
#subscription-email, ::placeholder{
    color: var(--color-green);
    border: none;
}

#subs-email{
    background-color: var(--color-green);
    color: #F2E8CF;
    border: none;
}
.contact-info{
    font-size: smaller;
}
.contact-info p{
    padding: 0.25rem;
}
.authors{
    border-top: 3px solid var(--color-green);
    margin: 10px 200px 0 200px;
    padding-top: 10px;
}
.authors p{
    text-align: center;
    
}
/* Standard Nav and Footer Code End */

/* Main code start */
#programs__title{
    width: 100vw;
    height: 70vh;
    padding-top: 100px;
    background: url(../static/programs_students.jpg);
    background-position: left 100px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    border-bottom: 2px solid var(--color-green);
}
#programs__title h1{
    padding: 0.75rem 1.5rem;
    color: var(--color-green);
    font-weight: 700;
    font-size: 3.5rem;
    background-color: rgba(240, 248, 255, 0.796);
    border-top: 2px solid var(--color-green);
    border-right: 2px solid var(--color-green);
    border-left: 2px solid var(--color-green);
}
#programs__menu nav{
    height: calc(100vh - (70vh + 100px));
    display: grid;
    grid-template-columns: 15% 70% 15%;

    ul{
        grid-column: 2/3;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.programs__menu-item{
    border-bottom: 1px solid var(--color-green);
    font-size: 1.5rem;
    transition: 0.5s ease-in;

    a{
        font-weight: 500;
        color: var(--color-green);
        text-decoration: none;
        transition: 0.5s ease-in;
    }
}
.programs__menu-item:hover{
    border-bottom: 2px solid var(--color-brown);
    transform: scale(1.03);

    a{
        color: var(--color-brown)
    }
}

/* Educational Programs Code Start */
#education{
    max-width: 2000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: min-content min-content auto;
    row-gap: 15px;
    grid-template-areas: 
        ". education__title ."
        ". education__paragraph ."
        ". education__school .";
}
.subtitle{
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-green);
}

#education>h2{
    grid-area: education__title;
    justify-self: center;
}
#education>p{
    grid-area: education__paragraph;
    text-align: center;
    color: var(--color-green);
    padding: 0.5rem 15%;
    margin-bottom: 2rem;
}
#education p{
    font-size: 1.3rem;
    line-height: 1.5;
}
#education__school{
    grid-area: education__school;
    padding-bottom: 1rem;
    /* border: 2rem solid var(--color-green);
    border-radius: 20px; */
}
#education__school-title{
    width: 100%;
    height: 25rem;
    background: url(../static/programs_zabuliCenter.jpg);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
    box-shadow: rgba(130, 100, 47, 0.819) 0px 25px 20px -20px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
    border-bottom: 2px solid var(--color-brown);
    border-radius: 20px;
    margin-bottom: 2rem;
    transition: 1s;
}
/* #education__school-title:hover{
    border: 2px solid var(--color-brown);
    transform: scale(1.03);
} */

#education__school-title h3{
    padding: 0.75rem 2rem;
    color: var(--color-brown);
    font-weight: 700;
    font-size: 1.75rem;
    background-color: rgba(240, 248, 255, 0.796);
    border-top: 2px solid var(--color-brown);
    border-right: 2px solid var(--color-brown);
    border-left: 2px solid var(--color-brown);
}

#education__school-paragraph{
    padding: 2rem 10%;
    text-align: center;
    color: var(--color-brown);
    border-bottom: 3px solid var(--color-green);
    transition: 1s ease-in;

    p{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 1024px){
    #programs__title{
        height: 50vh;
    }
    #programs__title h1{
        font-size: 3rem;
    }
    #programs__menu nav{
        height: fit-content;
        margin: 5rem 0;
    }
    .programs__menu-item{
        font-size: 1.4rem;
    }
    /* Educational Programs Code Start */
    #education>p{
        padding: 0.5rem 5%;
    }

}

@media only screen and (max-width: 768px){
    #programs__title{
        height: 40vh;
    }
    #programs__title h1{
        font-size: 2.5rem;
    }
    #programs__menu nav{
        grid-template-columns: 5% 90% 5%;
    }
    .programs__menu-item{
        font-size: 1.3rem;
    }
    /* Educational Programs Code Start */
    .subtitle{
        font-size: 1.7rem;
    }
    #education{
        grid-template-columns: 5% 90% 5%;
    }
    #education p{
        font-size: 1.2rem;
    }
    #education__school-title{
        height: 20rem;
    }
    #education__school-title h3{
        font-size: 1.5rem;
        padding: 0.75rem 1.5rem;
    }
    #education__school-paragraph{
        padding: 1.5rem 0;
    }
}

@media only screen and (max-width: 576px){
    #programs__title{
        height: 30vh;
    }
    #programs__title h1{
        font-size: 2rem;
    }
    #programs__menu nav{
        grid-template-columns: 10% 80% 10%;
        margin: 3rem 0;

        ul{
            flex-direction: column;
            align-items: start;
            gap: 20px;
            list-style: disc;
        }
    }
    .programs__menu-item{
        font-size: 1.25rem;
        color: var(--color-green);
    
        a{
            font-weight: 500;
            color: var(--color-green);
            transition: 0.5s ease-in;
        }
    }

    /* Educational Programs Code Start */
    .subtitle{
        font-size: 1.5rem;
    }
    #education p{
        font-size: 1.1rem;
    }
    #education__school-title h3{
        font-size: 1.4rem;
        padding: 0.75rem 1rem;
    }

}