@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* RESET CODE START */

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    padding-top: 80px;
    font-family: "Inter", sans-serif;
    /* font-family: "Poppins", sans-serif; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    scroll-padding-top: 90px;
}
/* RESET CODE END */


/* CSS VARIABLES */
:root{
    --bg-light-gradient: linear-gradient(0deg, rgba(254,254,253,1) 0%, rgba(242,232,207,1) 100%);
    --color-green: #386641;
    --color-brown: #7F4F24;
}

/* STANDARD HEADER START*/
.nav{
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10%;
    background: var(--bg-light-gradient);
    position: fixed;
    top: 0;
    z-index: 9999;
}
#nav-logo img{
    max-height: 80px;
    width: 9rem;
}

    /* Navigation List Items */
.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: all 0.5s ease-in-out;
}
.nav-menu li a{
    padding: 0 0.7rem;
    text-decoration: none;
    color: var(--color-green);
    font-weight: 600;
    font-size: 1.05rem;
}
.nav-menu li{
    transition: 1s ease;
    margin: 0 20px;
    
}
.nav-menu li:hover, .nav-menu li:focus{
    border-bottom: 2px solid var(--color-green);
    padding-bottom: 2px;
    transform: scale(1.03);
}

    /* Hamburguer Menu */
.nav-open{
    transform: translate(0) !important;
}

.mobile-nav-toggle{
    display: none;
    position: absolute;
    right: 2rem;
    width: 2rem;
    aspect-ratio: 1;
    border: 0;
    background: url(../static/icon_burguerMenu.svg);
    background-repeat: no-repeat;
}

.icon-close{
    background: url(../static/icon_close.svg) !important;
}

@media only screen and (max-width: 1024px){
    .nav{
        padding: 0.5rem 5%;
    }
}
@media only screen and (max-width: 768px){
    #nav-logo img{
        width: 10rem;
    }
    .nav-menu li{
        margin: 0 10px;
    }
    .nav-menu li a{
        font-size: 1.02rem;
    }
}
@media only screen and (max-width: 576px){
    .mobile-nav-toggle{
        display: block;
    }

    .nav-menu{
        position: fixed;
        top: 80px;
        left: 0;
        padding-top: 3rem;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: 100vh;
        width: 100%;
        background: linear-gradient(0deg, rgba(242, 232, 207, 1) 0%, rgba(254, 254, 253, 1) 100%);
        transform: translateX(-100%);
    }
    .nav-menu li{
        margin: 2rem;
    }
}
/* STANDARD HEADER END */

/* STANDARD FOOTER START */
footer{
    padding: 0.5rem 10%;
    color: var(--color-green);
    background: var(--bg-light-gradient);
    border-top: 1px solid var(--color-green);
}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    
}

#subscription-text {
    display: inline-block;
    margin-bottom: 10px;
}
#subscription-email{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#subscription-email, ::placeholder{
    color: var(--color-green);
    border: none;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

#subs-email{
    background-color: var(--color-green);
    color: #F2E8CF;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: 700;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    transition: .5s ease;
}
#subs-email:hover{
    transform: scale(1.03);
    cursor: pointer;
}
.contact-info{
    font-size: .8rem;
}
.contact-info p{
    padding: 0.5rem;
}
.authors{
    border-top: 2px solid var(--color-green);
    margin: 1rem  10%;
    padding-top: .8rem;
    text-align: center;
    font-size: .8rem;
}
.authors__names{
    font-weight: 500;
    padding: .5rem 0;
}
@media only screen and (max-width: 768px){
    footer{
        padding: 0.5rem 5%;
        font-size: smaller;
    }
}
@media only screen and (max-width: 576px){
    .contact{
        flex-direction: column;
        gap: 1.5rem;
    }
    #subscription-text {
        margin-bottom: 7px;
    }
    .contact-info p{
        padding: 0.2rem;
        text-align: center;
    }
    .authors{
        border-top: 2px solid var(--color-green);
        margin: .5rem  10%;
        padding-top: .8rem;
        text-align: center;
    }
}
/* STANDARD FOOTER END */