/* Standard Nav and Footer Code Start*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    width: 100%;
}

/* Variables */
:root{
    --bg-light-gradient: linear-gradient(0deg, rgba(254,254,253,1) 0%, rgba(242,232,207,1) 100%);
    --color-green: #386641;

}

/* Header */
.nav{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background: var(--bg-light-gradient);
}
.nav #nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#nav-menu li a{
    padding: 0 0.7rem;
    text-decoration: none;
    color: var(--color-green);
    font-weight: 600;
    font-size: 1.05rem;
}
#nav-menu li{
    transition: 1s ease;
    margin: 0 20px;
    
}

#nav-menu li:hover{
    border-bottom: 4px solid var(--color-green);
    padding: 0 5px;
    padding-bottom: 2px;
    font-size: 1.08rem;
    transform: scale(1.03);
}

/* Footer */
footer{
    padding: 1rem 5rem;
    color: var(--color-green);
    background: var(--bg-light-gradient);
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.contact{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    
}

#subscription-text {
    display: inline-block;
    margin-bottom: 10px;
}
#subscription-email, ::placeholder{
    color: var(--color-green);
    border: none;
}

#subs-email{
    background-color: var(--color-green);
    color: #F2E8CF;
    border: none;
}
.contact-info{
    font-size: smaller;
}
.contact-info p{
    padding: 0.25rem;
}
.authors{
    border-top: 3px solid var(--color-green);
    margin: 10px 200px 0 200px;
    padding-top: 10px;
   
}
.authors p{
    text-align: center;
    
}
/* Standard Nav and Footer Code End */



/* Main Code start */

.row > * {
    padding-left: 0;
    padding-right: 0;
}

/* delete start */

.row {
    border: 1px solid red;
}

.col-2, .col-3, .col-9, .col-12 {
    border: 1px solid blue;
}
/* delete end */

#video {
    margin-top: 50px;
    margin-bottom: 50px;
    #video-text{
        div{
            padding: 25px 30px;
        }
        #video-text-top {
            height: 100%;   
            font-size: 35px;
            font-weight: bold;
            color: var(--color-green);
            margin-bottom: 20px;
        }
        #video-text-bottom{
            font-size: 25px;
            color: var(--color-green);
        }
    }
    #video-content iframe{
        width: 95%;
    } 
}

#digital-wallet {
    padding: 20px 0;
    background: var(--bg-light-gradient);
    border-radius: 15px;
    margin-left: 25px;
    margin-right: 25px;
    div{
        border:1px solid blue;
    }
    #digital-wallet-instructions{
        p{
            color: var(--color-green);
            font-size: 20px;
            padding: 10px 0;
        }
    }
    #digital-wallet-button{
        height:30px;
        button {
            background: #386641;
            color: #F2E8CF;
            border: none;
            padding: 5px 30px;
            font-weight: bold;
        }
    }
}

#donation-frequnecy {
    .frequency-button{
        border: 1px solid #386641;
        color: var(--color-green);
        border-radius: 10px;
        font-weight: bold;
        font-size: 30px;
        height: 50px;
        margin: 50px 5px;
        padding-top: 7px;
    }
    .frequency-button:hover{
        background: var(--color-green);
        color: white;
    }

}

#donation{
    .col-4, .col-6{
        border: 1px solid black;
    }
    .donation-amount-option{
        border: 1px solid #386641;
        color: var(--color-green);
        font-weight: bold;
        font-size: 50px;
        height: 150px;
        padding-top: 50px;
        margin-bottom: 25px;
    }
    .donation-amount-option:hover{
        background: var(--color-green);
        color: white;
    }

    #donation-amount-custom{
        border: 1px solid #386641;
        color: var(--color-green);
        font-weight: bold;
        font-size: 50px;
        height: 75px;
        padding-top: 12.5px;
        margin-bottom: 25px;
    }


    #next{
        #next-button{
            border: none;
            background: #386641;
            color: white;
            font-size: 50px;
            font-weight: bold;
            height: 75px;
            width: 100%;
        }
    }
}

#blankRow{
    height: 100px;
}






/* Main Code end */
